<p>
{% if User::require_acl ('admin/add') %}
	<a href="/galleries/add">{"Add Gallery"}</a>
{% end %}
{% if User::require_acl ('settings') %}
	&nbsp;|&nbsp;
	<a href="/galleries/settings">{"Settings"}</a>
{% end %}
</p>

<p>
<table width="100%">
	<tr>
		<th width="28%">{" Title "}</th>
		<th width="28%">{" Date "}</th>
		<th width="28%">{" Folder "}</th>
		<th width="16%">&nbsp;</th>
	</tr>
{% foreach items %}
	<tr>
		<td>
			<img src="{{ loop_value->thumbnail|quotes }}" style="max-height: 30px; padding-right: 15px" align="left" />
			{{ loop_value->title }}
		</td>
		<td>{{ loop_value->date|I18n::date }}</td>
		<td><a href="/filemanager?path={{ loop_value->folder }}">{{ loop_value->folder }}</a></td>
		<td style="text-align: right">
			{% if User::require_acl ('admin/edit') %}
			<a	href="/galleries/edit?id={{ loop_value->id }}">{"Edit"}</a>
			{% end %}
			{% if User::require_acl ('admin/delete') %}
			|
			<a	href="/galleries/delete"
				data-id="{{ loop_value->id }}"
				onclick="return $.confirm_and_post (this, '{"Are you sure you want to delete this gallery?"}')">{"Delete"}</a>
			{% end %}
		</td>
	</tr>
{% end %}
</table>
</p>

{! navigation/pager?style=text&url=[url]&total=[total]&count=[count]&limit=[limit] !}